/* wpforms-1517-field_1-container */
.wpforms-form #wpforms-1517-field_1-container {
  margin-bottom: 10px;
}

.wpforms-form #wpforms-1517-field_1-container .wpforms-field-row {
  display: flex;
}

.wpforms-form #wpforms-1517-field_1-container .wpforms-field-row .wpforms-field-row-block {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

/* wpforms-1517-field_2-container */
.wpforms-form #wpforms-1517-field_2-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* wpforms-1517-field_3-container */
.wpforms-form #wpforms-1517-field_3-container {
  margin-bottom: 15px;
}

.wpforms-form #wpforms-1517-field_3-container .wpforms-field-label {
  margin-bottom: 5px;
}

.wpforms-form #wpforms-1517-field_3-container ul {
  list-style: none;
}

.wpforms-form #wpforms-1517-field_3-container ul li label {
  margin-left: 6px;
}

/* wpforms-1517-field_4-container */
.wpforms-form #wpforms-1517-field_4-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* wpforms-1517-field_5-container */
.wpforms-form #wpforms-1517-field_5-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* wpforms-1517-field_7-container */
.wpforms-form #wpforms-1517-field_7-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_8-container */
.wpforms-form #wpforms-1517-field_8-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_9-container */
.wpforms-form #wpforms-1517-field_9-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_10-container */
.wpforms-form #wpforms-1517-field_10-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_11-container */
.wpforms-form #wpforms-1517-field_11-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_12-container */
.wpforms-form #wpforms-1517-field_12-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_13-container */
.wpforms-form #wpforms-1517-field_13-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_14-container */
.wpforms-form #wpforms-1517-field_14-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_15-container */
.wpforms-form #wpforms-1517-field_15-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_16-container */
.wpforms-form #wpforms-1517-field_16-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_17-container */
.wpforms-form #wpforms-1517-field_17-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_18-container */
.wpforms-form #wpforms-1517-field_18-container {
  margin-bottom: 15px;
}

/* wpforms-1517-field_19-container */
.wpforms-form #wpforms-1517-field_19-container {
  margin-bottom: 15px;
}