.header-container {
  height: 100vh;
  background: #084617;
}

.header-container .menu {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .menu img {
  width: 110px;
}

.header-container .menu ul {
  list-style: none;
}

.header-container .menu ul li {
  display: inline;
  margin-left: 15px;
}

.header-container .menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-family: 'Cabin', sans-serif;
  transition: 0.2s;
}

.header-container .menu ul li a:hover {
  opacity: 0.8;
}

.header-container .content {
  width: 90%;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .content .title h1 {
  text-transform: uppercase;
  line-height: 0.85em;
  font-size: 5em; 
  font-family: 'Passion One', cursive;
  color: #fff;
}

.header-container .content .title p {
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  font-family: 'Cabin', sans-serif;
}

.header-container .content img {
  width: 650px;
}

/* toggle menu */
.header-container .menu-toggle {
  z-index: 10000;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.header-container .menu-toggle .one,
.header-container .menu-toggle .two,
.header-container .menu-toggle .three {
    display: block;
    width: 100%;
    border-bottom: 3px solid #fff;
    transition: .3s;
}

.header-container .menu-toggle.on .one,
.header-container .menu-toggle.on .two,
.header-container .menu-toggle.on .three {
    transition: .3s;
}

.header-container .menu-toggle.on .one {
    transform: rotate(45deg) translate(10px, 10px);
    transition: .4s;
}

.header-container .menu-toggle.on .two {
    opacity: 0;
    transition: .4s;
}

.header-container .menu-toggle.on .three {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: .4s;
}

.header-container .menu-toggle-section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
}

.header-container .menu-toggle-section.on {
  visibility: visible;
  opacity: 1;
}

.header-container .menu-toggle-section ul {
  list-style: none;
}

.header-container .menu-toggle-section ul li {
  margin-bottom: 10px;
}

.header-container .menu-toggle-section ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

/* responsive code */
@media (max-width: 1280px) {
  .header-container .menu .list-menu {
    display: none;
  }

  .header-container .menu-toggle {
    display: flex;
  }

  .header-container .content .title h1 {
    font-size: 4em;
  }

  .header-container .content img {
    width: 600px;
  }
}

@media (max-width: 1075px) {
  .header-container .content {
    margin: 70px auto 0 auto;
  }

  .header-container .content img {
    width: 550px;
  }
}

@media (max-width: 1024px) {
  .header-container .content {
    margin: 80px auto 0 auto;
  }

  .header-container .content img {
    width: 500px;
  }
}

@media (max-width: 970px) {
  .header-container .content {
    margin: 90px auto 0 auto;
  }

  .header-container .content .title h1 {
    font-size: 3em;
  }

  .header-container .content .title p {
    font-size: 18px;
  }

  .header-container .content img {
    width: 450px;
  }
}

@media (max-width: 815px) {
  .header-container .content {
    flex-direction: column-reverse;
    margin: 35px auto 0 auto;
  }

  .header-container .content .title {
    text-align: center;
    margin-top: 40px;
  }

  .header-container .content img {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .header-container .content img {
    width: 450px;
  }
}

@media (max-width: 470px) {
  .header-container .content img {
    width: 380px;
  }
}

@media (max-width: 395px) {
  .header-container .menu {
    width: 80%;
  }

  .header-container .menu img {
    width: 70px;
  }

  .header-container .content .title h1 {
    font-size: 2.5em;
  }

  .header-container .content .title p {
    margin-top: 12px;
    font-size: 14px;
  }
  
  .header-container .content img {
    width: 300px;
  }
}