.list-materials {
  list-style: none;
}

.list-materials li input {
  display: none;
}

.list-materials li input:checked + label span {
  transform: rotate(45deg);
}

.list-materials li input:checked ~ .text-list {
  display: block;
}

.list-materials li label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  background-color: #6BF557;
  color: #000;
}

.list-materials li .text-list {
  display: none;
}