#awards .item {
    margin: 0 15px;
}

.timeline-panel {
    min-height: 425px;
    margin-top: 30px;
    padding: 12px;
    border-radius: 2px;
    box-shadow: 4px -4px 12px rgba(0, 0, 0, .2);
    background-color: #fff;
}

.timeline-panel .timeline-heading {
    text-align: center;
}

.timeline-panel .timeline-image {
    width: 100%;
    height: 145px;
}

.timeline-panel .timeline-image img {
    width: 100%;
    margin-bottom: 12px;
    border-radius: 2px;
}

.timeline-panel .timeline-body p {
    text-align: justify;
}