.data-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.data-container .data-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.data-card span {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #007b36;
    margin: 5px 0;
}

.data-card .data-card-title {
    width: 85%;
    text-align: center;
    margin-bottom: 12px;
    padding-bottom: 5px;
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.2);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.cards-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.card span {
    font-size: 18px;
    text-align: center;
}

.cards-container .data-font {
    margin-top: 10px;
    font-size: 19px;
}

.cards-container .data-font a {
    color: #007b36;
}

.cards-container .data-font a:hover {
    text-decoration: underline;
}