/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*-- Index-Page-Styling --*/
body {
	font-family: 'Josefin Sans', sans-serif;
	background: url(../images/cadastro_fundo.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	text-align: center;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration: none;
	color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
img {
	width: 100%;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #FFF;
    margin: .3em 0 .5em;
    letter-spacing: 3px;
}
/*-- main --*/
.main {
    margin: 0 auto;
    width: 30%;
}
.login-top {
    padding: 2em;
}
.login-top input[type="text"], .login-top input[type="email"], .login-top input[type="password"]{
    outline: none;
    font-size: 1em;
    color: #000;
    padding: 1em .5em;
    margin: 0;
    width: 95%;
    border: none;
    border: 1px solid #999;
    -webkit-appearance: none;
    margin-bottom: 1em;
    font-family: 'Josefin Sans', sans-serif;
    border-left: 4px solid #007b36;
}
.login-top input[type="submit"] {
    color: #fff;
    padding:.8em 0;
	width: 100%;
    outline: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
	font-family: 'Josefin Sans', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
    border: 1px solid #007b36;
    background: #007b36;
}
.login-top input[type="submit"]:hover {
    background: rgb(255, 255, 255);
    color: #007b36;
    font-weight: 500;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- checkbox --*/
.login-top input[type="checkbox"] {
    display: none;
}
.login-top input[type="checkbox"]+label {
    position: relative;
    padding-left: 1.5em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #999;
    font-weight: 400;
    cursor: pointer;
}
.login-top input[type="checkbox"]+label span:first-child {
    width: 14px;
    height: 14px;
    border: 2px solid #C8C8C8;
    position: absolute;
    left: 0;
	top: 0px;
}
.login-top input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
/*-- //checkbox --*/
.login-bottom {
    margin: 1.5em 0;
}
.login-bottom li {
    display: inline-block;
    float: left;
}
.login-bottom li:nth-child(2) {
    float: right;
}
.login-bottom a {
    font-size: 1em;
    color: #999;
    vertical-align: middle;
}
.login-bottom input[type="submit"] {
    font-size: 0.9em;
    color: #fff;
	background:#0c517d;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    -webkit-appearance: none;
}
.login-bottom input[type="submit"]:hover{
	background: #387296;
	color:#ffffff;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/*-- w3layouts --*/
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    text-align: center;
}
.resp-tab-item {
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
    background: #121212;
    float: left;
    padding: 15px 0;
}
.resp-tab-active {
    text-shadow: none;
    color: #fff;
    background: none; /*#ffb900*/
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.resp-tab-item label{
	margin-right:8px;
}
/*-- agileits --*/
/*-- //main --*/
/*-- footer --*/
.footer {
    padding:2em 0 0;
}
.footer p{
    color: #fff;
    font-size: 1em;
	letter-spacing:2px;
}
.footer p a{
	text-decoration:none;
	color:#007b36;
}
.footer p a:hover{
	color:#fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- //footer --*/
/*-- //Index-Page-Styling --*/
/*--responsive--*/
@media(max-width: 1440px){
	.main {
		width: 34%;
	}
	.footer {
		padding: 2em 0;
	}
}
@media(max-width: 1366px){
	.main {
		width: 35%;
	}
}
@media(max-width: 1280px){
	.main {
		width: 39%;
	}
}
@media(max-width: 1080px){
	h1 {
		font-size: 2.8em;
	}
	.main {
		width: 45%;
	}
	.resp-tab-item {
		font-size: 1.4em;
	}
}
@media(max-width: 1050px){

}
@media(max-width: 1024px){
	.main {
		width: 50%;
	}
}
@media(max-width: 991px){

}
@media(max-width: 800px){
	h1 {
		font-size: 2.6em;
	}
	.main {
		width: 62%;
	}
}
@media(max-width: 768px){
	h1 {
		margin: .8em 0 1em;
	}
	.footer {
		padding: 5em 0;
	}
	.main {
		width: 64%;
	}
}
@media(max-width: 736px){
	h1 {
		font-size: 2.5em;
		margin: .3em 0 .5em;
	}
	.footer {
		padding: 2em 0;
	}
	.main {
		width: 66%;
	}
}
@media(max-width: 667px){
	.main {
		width: 74%;
	}
}
@media(max-width: 640px){
	.main {
		width: 78%;
	}
	h1 {
		font-size: 2.4em;
	}
	.resp-tab-item {
		font-size: 1.3em;
	}
}
@media(max-width: 600px){
	.main {
		width: 81%;
	}
}
@media(max-width: 568px){
	.main {
		width: 85%;
	}
	h1 {
		font-size: 2.2em;
	}
	.resp-tab-item {
		font-size: 1.2em;
	}
	.footer p {
		letter-spacing: 1px;
	}
}
@media(max-width: 480px){
	h1 {
		font-size: 2em;
		letter-spacing: 2px;
	}
	.login-top input[type="text"], .login-top input[type="email"], .login-top input[type="password"] {
		padding: .8em .5em;
		width: 94%;
	}
	.resp-tab-item {
		font-size: 1.1em;
	}
	.footer p {
		line-height: 2;
	}
	.main {
		width: 93%;
	}
	.footer {
		padding: 1.5em 0;
	}
}
@media(max-width: 414px){
	.login-top {
		padding: 1.5em;
	}
	.main {
		width: 94%;
	}
	.login-top input[type="text"], .login-top input[type="email"], .login-top input[type="password"] {
		width: 93.5%;
	}
	.footer p {
		font-size: 0.9em;
	}
}
@media(max-width: 384px){
	h1 {
		font-size: 1.9em;
	}
	.resp-tab-item {
		font-size: 1em;
		padding: 14px 0;
	}
	.login-top input[type="text"], .login-top input[type="email"], .login-top input[type="password"] {
		width: 93%;
	}
}
@media(max-width: 375px){
	.login-top input[type="text"], .login-top input[type="email"], .login-top input[type="password"] {
		width: 92.5%;
	}
	.login-top input[type="submit"] {
		padding: .7em 0;
	}
}
@media(max-width: 320px){
	h1 {
		font-size: 1.7em;
	}
	.resp-tab-item {
		padding: 12px 0;
	}
	.login-top input[type="text"], .login-top input[type="email"], .login-top input[type="password"] {
		font-size: .9em;
		width: 92%;
	}
	.login-top input[type="checkbox"]+label {
		font-size: .9em;
	}
	.login-top input[type="checkbox"]+label span:first-child {
		width: 12px;
		height: 12px;
		top: 1px;
	}
	.login-bottom a {
		font-size: .9em;
	}
	.login-top input[type="submit"] {
		font-size: .9em;
	}
}
/*--//responsive--*/